.cuadrado-nosotros{
    margin: 20px;
    background-color: #1a120b;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
    h2{
        color: #fff;
        text-align: center;
    }
    p{
        color: #fff;
        text-align: center;
        margin-top: 20px;
    }
}



